<div>
  <p>

      <span class="app-button">
        <button routerLink="ngfor">ngFor</button>
        <button routerLink="ngif">ngIf</button>
        <button routerLink="">NgSwitch</button>
        <button routerLink="">ngClass</button>
        <button routerLink="highligh">app highlight</button>
        <button routerLink="formvalidator">form validator</button>
        <button routerLink="form">form</button>
      </span>

  </p>
</div>
<app-material></app-material>

<router-outlet></router-outlet>
