.sidenav-container {
  height: 100vh; /* Ocupa toda a altura da viewport */
}

.sidenav {
  width: 60px; /* Largura inicial encolhida */
  transition: width 0.3s ease; /* Transição suave */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  background-color: #f0f0f0; /* Cor de fundo do sidenav */
}

.sidenav.mat-sidenav-opened {
  width: 200px; /* Largura expandida */
}

.menu-button {
  width: 100%;
  text-align: left;
  padding: 10px 15px;
  box-sizing: border-box;
}

.menu-button .mat-icon {
  margin-right: 10px;
}

.mat-nav-list a {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
}

.mat-nav-list a:hover {
  background-color: #e0e0e0;
}

.mat-nav-list a .mat-icon {
  margin-right: 10px;
}

.sidenav-content {
  margin-left: 60px; /* Espaço para o sidenav encolhido */
  transition: margin-left 0.3s ease;
}

.sidenav-container.mat-sidenav-opened .sidenav-content {
  margin-left: 200px; /* Espaço para o sidenav expandido */
}