<button matMiniFab aria-label="Example icon button with a menu icon" (click)="show()"> <mat-icon>menu</mat-icon> </button>
<mat-drawer-container autosize>
    <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list class="exemple-button-row">
        <mat-list-item>
            <button matButton="filled" routerLink="ngfor" mat-button>ngFor</button>
        </mat-list-item>
        <mat-list-item>
            <button matButton="filled" routerLink="ngif" mat-button>ngIf</button>
        </mat-list-item>
        <mat-list-item>
            <button matButton="filled" routerLink="" mat-button>NgSwitch</button>
        </mat-list-item>
        <mat-list-item>
            <button matButton="filled" routerLink="highligh" mat-button>highligh</button>
        </mat-list-item>
        <mat-list-item>
            <button matButton="filled" routerLink="formvalidator" mat-button>formvalidator</button>
        </mat-list-item>
        <mat-list-item>
            <button matButton="filled" routerLink="form" mat-button>form</button>
        </mat-list-item>
        <mat-list-item>
            <button matButton="filled" routerLink="databind" mat-button>databind</button>
        </mat-list-item>
        <mat-list-item>
            <button matButton="filled" routerLink="classStyleBinding" mat-button>classStyleBinding</button>
        </mat-list-item>
        <mat-list-item>
            <button matButton="filled" routerLink="eventbinding" mat-button>eventbinding</button>
        </mat-list-item>
        <mat-list-item>
            <button matButton="filled" routerLink="twoway-databinding" mat-button>twoway-databinding</button>
        </mat-list-item>
        <mat-list-item>
            <button matButton="filled" routerLink="inputoutput" mat-button>inputoutput</button>
        </mat-list-item>
    </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div style="text-align: center;min-height: 600px;">

            <router-outlet></router-outlet>
            </div>
    </mat-drawer-content>
</mat-drawer-container>

