<article>
  <h3>Class e Style Binding</h3>
  <div>
    Selecione uma classe
    <select #classe (change)="0">
      <option value="alert-sucess">Sucesso</option>
      <option value="alert-sucess">Info</option>
      <option value="alert-sucess">Alerta</option>
      <option value="alert-sucess">Erro</option>
    </select>
  </div>
  <br><br>

  <div class="alert alert-success" role="alert">aaaa</div>
  <div class="alert alert-success" role="alert">bbbb</div>
  <div class="alert alert-success" role="alert">cccc</div>
  <div class="alert alert-success" role="alert">dddd</div>
</article>
